<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MemoryClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MemoryClient.Properties.Settings>
            <setting name="DefaultPlayersNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Tim;../Images/tim.png</string>
                        <string>Lisa;../Images/lisa.png</string>
                        <string>Lenny;../Images/lenny.png</string>
                        <string>Anne;../Images/anne.png</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultDimensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4;4;../Images/4x4.png</string>
                        <string>6;5;../Images/6x5.png</string>
                        <string>7;6;../Images/7x6.png</string>
                        <string>8;7;../Images/8x7.png</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MemoryClient.Properties.Settings>
    </applicationSettings>
</configuration>